*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
  
}




.nav{
    background: linear-gradient(to bottom, hsl(214, 77%, 30%),hsla(197, 87%, 71%, 0.829));
    height: 90px;
    width: 100%;
   display: inline-flex;
    position: sticky;
    top: 0;
    opacity: 100%;
    
    z-index: 100;
}

.welcome{
    position: relative;
    top: 5%;
    left: 3%;
    font-size: 60px;
    margin-right: 20%;

    color: rgb(255, 255, 255);

    font-family: 'Rubik Doodle Shadow';
    
    @media screen and (max-width:767px){
        /* smartphone */
        text-align: center;
        font-size: 20px;
        margin-right: 30px;
        margin-bottom: 0px;
        top: 20%;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            text-align: center;
            font-size: 40px;
            margin-right: 30px;
            margin-bottom: 0px;
            top: 5%;
        }
}
a{
    text-decoration: none;
}

li :link{
    color: black;
}
li :visited{
    color: black;
}

a:hover{
    color: white;
}


.nav ul{
    display: inline-flex;
    list-style-type: none;
    position: relative;
    float: right;
    
 
    top: 30%;
    font-size: 20px;

    @media screen and (max-width:767px){
        /* smartphone */
       
        font-size: 15px;
       float: inline-start;
        display: flex;
        position: relative;
        left: 100px;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
        font-size: 18px;
       float: inline-start;
        display: flex;
        position: relative;
        left: 35%;
        top: 8px;
        }
}

.nav{
    @media screen and (max-width:767px){
        /* smartphone */
        display: block;
       
        
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            display: block;
        }
        
}

.nav li{
    margin-right: 10%;
    
}

.hello{
    font-family: 'Rubik Doodle Shadow';
    
}


.container{
    
    height: 100%;


}

section{
    height: 100vh;
}

#s1{
    background-image: url(https://img.freepik.com/premium-photo/modern-white-refrigerator-near-wall-blue-studio-background_241146-2757.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width:767px){
        /* smartphone */
        
    
        }
}

.hello{
    font-size:150px;
    color: hsla(0, 0%, 100%, 0.74);

    @media screen and (max-width:767px){
        /* smartphone */
        color: hsla(0, 0%, 0%, 0.884);
        font-size: 100px;
        background: linear-gradient(to right, hsla(214, 59%, 52%, 0.603),rgba(255, 255, 255, 0));
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            color: hsla(0, 0%, 0%, 0.884);
            font-size: 100px;
            background: linear-gradient(to right, hsla(214, 59%, 52%, 0.603),rgba(255, 255, 255, 0));
        }
}

.intro{
    max-width: 50%;
    font-size: 30px;
    
    background: linear-gradient(to right, hsla(214, 59%, 52%, 0.603),rgba(255, 255, 255, 0));

    @media screen and (max-width:767px){
        /* smartphone */
        max-width: 80%;
        font-size: 20px;
        }
}

.introText{
    position: relative;
    top: 10%;
    left: 50%;

    color: rgba(0, 0, 0, 0.856);
    @media screen and (max-width:767px){
        /* smartphone */
            top: 10%;
            left: 10%;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            left: 45%;
            top: 20%;
        }
}


#s2{
   background-image: url(https://reviewed-com-res.cloudinary.com/image/fetch/s--AJmA9IwN--/b_white,c_limit,cs_srgb,f_auto,fl_progressive.strip_profile,g_center,q_auto,w_792/https://reviewed-production.s3.amazonaws.com/attachment/a3e5e2c19245400f/top-freezer-fridge.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width:767px){
        /* smartphone */
       background: linear-gradient(150deg, hsl(207, 85%, 29%), rgb(123, 222, 235));
        }

}

.products{
   
  
    font-size: 60px !important;
    
}

.productDesc{
    font-size: 30px;
   
    position: relative;
    right: -50%;

    color: black;
    @media screen and (max-width:767px){
        /* smartphone */
    position: relative;
    top: 3%;
    right: -5%;

    color: black;
   }

   @media screen and (min-width:767px) and (max-width:1023px){
    /* tablet */
    font-size: 20px;
    position: relative;
    right: -50%;
    top: 10%;
   }
}

.loginhr{
    width: 500px;

    @media screen and (max-width:767px){
        /* smartphone */
        width: 80%;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            width: 250px;
        }

}

.productText{
    font-size: 30px;

    @media screen and (max-width:767px){
        /* smartphone */
        font-size: 20px;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
        font-size: 20px;    
        }
}

#s2{
    color: lightgray;
}


.logbox label{
    font-size: 40px !important;

    @media screen and (max-width:767px){
        /* smartphone */
        font-size: 30px !important;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            font-size: 30px !important;
        }
}

.logbox input{
    width: 500px;
    height: 40px;

    @media screen and (max-width:767px){
        /* smartphone */
        width: 80%;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            width: 320px;
        }
}



.submit{
    width: 100px !important;
    height: 20px;

    @media screen and (max-width:767px){
        /* smartphone */
        width: 80px !important;
        height: 20px;
        }
}

.forgot{
    font-size: 20px;

    @media screen and (max-width:767px){
        /* smartphone */
        font-size: 15px;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            font-size: 15px;
        }
}

.forgot :visited{
    color: blue;
}

#s3{
    background-color: rgb(55, 103, 148);
    
}

#s3 h1{
    position: relative;
    top: 3%;
    text-align: center;
    font-size: 45px;
}

.productlist{
    /* border: 1px solid red; */
    width: 100%;
    height: 500px;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
    @media screen and (max-width:767px){
        /* smartphone */
        position: relative;
        top: 10%;
/* 
        border: 1px solid red; */
        height: 230px;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            
            height: 500px;
            
        }
   
}
#s3 h1{
    @media screen and (max-width:767px){
        /* smartphone */
        position: relative;
        top: 5%;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            top: 10%;
        }
}

.fans{
    width: 280px;
    height: 250px;
    border: 1px solid black;
    
    margin: 2%;
    margin-bottom: 0 !important;
    border-radius: 100px;
    @media screen and (max-width:767px){
        /* smartphone */
        width: 70px;
        height: 70px;

        border-radius: 30px;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
        width: 20%;    
        height: 30%;
        position: relative;
        top: 15%;
        }
}



.minifan{
    background-image: url(https://otcer.ph/wp-content/uploads/2020/02/KELVINATOR-KSD212SA-6.2-CU.FT_.-SINGLE-DOOR-REFRIGERATOR.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.standfan{
    background-image: url(https://www.smappliance.com/cdn/shop/products/cpr90td2_1024x.jpg?v=1635493862);
    background-repeat: no-repeat;
    background-size: cover;
}

.wallfan{
    background-image: url(https://www.smappliance.com/cdn/shop/files/8700000726-LO2-20201002-145602_800x.jpg?v=1695718981);
    background-repeat: no-repeat;
    background-size: cover;
}

.ceilingfan{
    background-image: url(https://www.subzero-wolf.com/sub-zero/-/media/images/united-states/dynamic-images/cl4250ufdid-s/cl4250ufdi.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.price{
    width: 280px;
    height: 180px;
    border: 1px solid black;
    background: linear-gradient( 45deg,hsl(202, 93%, 37%),hsl(202, 70%, 74%));
    border-radius: 50px;
    margin: 2%;

    @media screen and (max-width:767px){
        /* smartphone */
        width: 70px;
        height: 80px;
        border-radius: 15px;
        
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            width: 20%;    
        height: 30%;
        }
}

.price h3{
    text-align: center;
    font-size: 25px;

    @media screen and (max-width:767px){
        /* smartphone */
        font-size: 12px;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            font-size: 20px;
        }
}

.price h4{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;

    @media screen and (max-width:767px){
        /* smartphone */
        font-size: 10px;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            font-size: 15px;
            
        }
}


.price hr{
    width: 60%;
    position: relative;
    left: 50px;

    @media screen and (max-width:767px){
        /* smartphone */
        position: relative;
        left: 3px;
        width: 90%;
        }

        
        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
           position: relative; 
           left: 20px;
           width: 80%;
        }   
}

.button{
   position: relative;
   
   left: 30%;
   width: 100px;
   height: 35px;
   bottom: 20px;

   @media screen and (max-width:767px){
    /* smartphone */
    width: 40px;
    height: 25px;

    position: relative;
    bottom: 53px;
    left: 25px;
    
    }

    @media screen and (min-width:767px) and (max-width:1023px){
        /* tablet */
    position: relative;
    width: 80px;
    height: 30px;
    left: 30%;
    }
}








#s4{
    background-color: rgb(55, 103, 148);
}


#s4 h1{
    text-align: center;
    position: relative;
    top: 3%;
    font-size: 50px;

    @media screen and (max-width:767px){
        /* smartphone */
        position: relative;
        top: 3%;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            top: 10%;
        }
}


#s4 ul{
    display: flex;
    list-style-type: none;

    position: relative;
    left: 8%;
    top: 25vh;

    

    @media screen and (max-width:767px){
        /* smartphone */
        display: block;

        top: 10%;
        left: 15%;
        }

        @media screen and (min-width:767px) and (max-width:1023px){
            /* tablet */
            left: 10%;
        }

     
}

#s4 li{
   margin-right: 140px; 
   font-size: 30px;

   color: hsl(0, 0%, 5%);
   @media screen and (max-width:767px){
    /* smartphone */
    margin-bottom: 10%;

    font-size: 20px;
    }

    @media screen and (min-width:767px) and (max-width:1023px){
        /* tablet */
         margin-right: 100px;
         font-size: 20px;
    }
    
  
}



#s4 i{
    font-size: 70px;
    margin-right: 15px;

    @media screen and (max-width:767px){
        /* smartphone */
       
    
        font-size: 50px;
        }

}


#s4 a:link{
   color: black;
}

#s4 a:hover{
    color: white;

 }

 #s4 li:hover{
    color: white;
 }


*{
    font-family: 'Changa';
}




/* tablet responsiveness need */








































